* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Serif', serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.skills_title {
  background-color: #303030;
  color: #fff;
  text-align: center;
}

.skills_cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.skills_card {
  text-align: center;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 105px;
  height: 120px;
  color: #fff;
}

.skills_card_img {
  width: 90px;
}

.job_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.job_img {
  width: 400px;
}

.job_title {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  margin-left: -90px;
}
.job_text {
  color: #3298f2;
  font-size: 30px;
  padding-left: 45px;
}

.job {
  margin-top: 20px;
}
.job_info {
  height: 400px;
}

.job_wrapper {
  background-color: #292929;
}
.job_points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.job_point {
  display: flex;
  width: 400px;
  color: #fff;
  gap: 10px;
  justify-content: start;
  align-items: start;
}

.job_point_img {
  width: 40px;
  height: 40px;
}

.job_point_info_title {
  color: #e88a35;
}
h1 {
  text-align: center;
}

h1 > span {
  color: #ff9638;
}

.main {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.main > img {
  width: 400px;
  margin-right: 200px;
}

.main > ul {
  list-style: none;
}
.main > ul > li > h2::before {
  content: '•';
  color: #ff9638;
  border-radius: 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.main > ul > li > p {
  margin-left: 20px;
}

.sec1 {
  padding: 20px 80px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(0, 0, 0);
  border-top: 1px solid #cacad6;
  border-bottom: 1px solid #cacad6;
  margin-bottom: 10px;
  padding: 5px 0;
}

.social {
  align-self: right;
  display: flex;
  gap: 20px;
}
.nav {
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;

  height: 80px;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.social__item img {
  width: 30px;
}